// Global//

body {
  height: 100%;
  background-color: rgba(245, 241, 241, 1);
  line-height: 1.5;
  min-width: 300px;
  font-weight: 500;
}

.wrapper {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.light-shade-color {
  color: #f7f3f0;
}

.serif {
  font-family: "Vidaloka", serif;
}

.sans {
  font-family: "Raleway", sans-serif;
}

.dark-title {
  font-family: "Vidaloka", serif;
  color: #3f3f3f;
  font-size: 6.7vw;
}

.dark-para {
  font-family: "Raleway", sans-serif;
  color: #3f3f3f;
  font-size: 18px;
}

.light-title {
  font-family: "Vidaloka", serif;
  color: #f7f3f0;
  font-size: 6.7vw;
}

.light-para {
  font-family: "Raleway", sans-serif;
  color: #f7f3f0;
  font-size: 18px;
}

.title-head,
.para {
  text-align: center;
  width: 100%;
}

.main-header,
section {
  padding: 105px 20px;
}

// End of Global //

// Specific Starts//

//HEADER
.icons {
  display: none;
}

.nav-desktop {
  display: none;
}

header {
  width: 100%;
}
.header {
  // display: block;
  width: 100%;
  background-image: url(../img/banner-background.jpg);
  height: auto;
  background-position: center;

  .main-header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(226, 148, 178, 0.849);
    padding-top: 30px;

    .header-info {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px 0;

      .name {
        font-size: 26px;
        font-weight: 900;
      }

      .slogan {
        font-size: 18px;
      }
    }

    .banner {
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
      padding: 60px 0;

      .title {
        width: 100%;
        font-size: 30px;
        font-weight: 900;
      }

      .info {
        width: 100%;
        font-size: 18px;
      }
    }

    .logo {
      justify-content: flex-start;
    }

    .menu {
      display: none;
    }
  }

  .menu-button {
    background: none;
    border: none;
    svg {
      height: 30px;
      width: 30px;
    }
  }
}

// BODY//

section {
  .sect-info {
    width: 100%;

    .sm-flower {
      height: 40px;
      text-align: center;
      img {
        height: 30px;
      }
    }
  }
  p {
    padding: 10px 0;
  }
}

.services {
  background-image: url(../img/services-cropped.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;

  .service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;

    .service-card-1 {
      max-width: 30%;
      min-width: 300px;
      height: 300px;
      margin: 10px;
      background-image: url(../img/services-decoration.jpg);
      background-size: cover;
      background-position: bottom;
    }

    .service-card-2 {
      max-width: 30%;
      min-width: 300px;
      height: 300px;
      margin: 10px;
      background-image: url(../img/services-floral-design.jpg);
      background-size: cover;
      background-position: center;
    }

    .service-card-3 {
      max-width: 30%;
      min-width: 300px;
      height: 300px;
      margin: 10px;
      background-image: url(../img/service-events.jpg);
      background-size: cover;
      background-position: center;
    }

    .card-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: rgba(52, 53, 51, 0.678);
      padding: 24px;
      height: 100%;
    }
  }

  .title {
    font-size: 32px;
  }
}

.events {
  width: 100%;
  height: auto;

  .event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;

    .event-card-1 {
      width: 30%;
      min-width: 300px;
      height: 150px;
      margin: 10px;
      background-image: url(../img/events-wedding.jpg);
      background-size: cover;
      background-position: bottom;
    }

    .event-card-2 {
      width: 30%;
      min-width: 300px;
      height: 150px;
      margin: 10px;
      background-image: url(../img/events-corp.jpg);
      background-size: cover;
      background-position: center;
    }

    .event-card-3 {
      width: 30%;
      min-width: 300px;
      height: 150px;
      margin: 10px;
      background-image: url(../img/events-funeral.jpg);
      background-size: cover;
      background-position: center;
    }
    .event-card-4 {
      width: 30%;
      min-width: 300px;
      height: 150px;
      margin: 10px;
      background-image: url(../img/events-hotels.jpg);
      background-size: cover;
      background-position: center;
    }
    .event-card-5 {
      width: 30%;
      min-width: 300px;
      height: 150px;
      margin: 10px;
      background-image: url(../img/events-parties.jpg);
      background-size: cover;
      background-position: center;
    }
    .event-card-6 {
      width: 30%;
      min-width: 300px;
      height: 150px;
      margin: 10px;
      background-image: url(../img/events-media.jpg);
      background-size: cover;
      background-position: center;
    }

    .card-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: rgba(226, 148, 178, 0.849);
      padding: 24px;
      height: 100%;
    }
  }

  .title {
    font-size: 32px;
  }
}

.portfolio {
  background-image: url(../img/portfolio-background.png);

  .slideshow-container {
    display: block;
  }
}

// SLIDE SHOW //
/* Slideshow container */
.portfolio {
  .slideshow-container {
    max-width: 900px;
    position: relative;
    margin: 10px auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;

    img {
      max-width: 1000px;
      max-height: 500px;
      object-fit: contain;
      text-align: center;
    }
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgba(226, 148, 178, 0.849);
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: rgba(226, 148, 178, 0.849);
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

.order-background {
  background-image: url(../img/order-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;

  section {
    padding: 40px 0;
  }

  .order-banner {
    background-color: rgba(131, 100, 71, 0.856);
    width: 100%;
    height: auto;

    .para {
      margin-top: 20px;
      a {
        background-color: rgba(226, 148, 193, 1);
        padding: 15px;
        text-decoration: none;
        border-radius: 15px;

        span {
          font-size: 16px;
        }
      }
    }

    .title {
      font-size: 32px;
    }
  }
}

.flowers {
  width: 100%;
  height: auto;

  .flower-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    align-items: center;

    .card-info {
      p {
        padding: 5px;
      }
    }

    .title {
      font-size: 30px;
    }

    .flower-card {
      max-width: 23%;
      height: 350px;
      margin: 10px;

      img {
        height: 60%;
        width: 100%;
        object-fit: center;
      }

      .order-btn {
        margin-top: 10px;
        a {
          text-decoration: none;
          background-color: rgba(226, 148, 178, 0.849);
          border-radius: 50px;
          padding: 5px;

          .light-para {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.special {
  background-color: #fff;
  width: 100%;
  height: auto;

  .sect-info {
    .title-head,
    .para,
    .sm-flower {
      text-align: left;
      padding: 0 20px;
    }

    .para {
      margin-bottom: 20px;
    }
  }

  .flower-cards {
    display: flex;
    flex-wrap: wrap;

    .flower-card {
      display: flex;
      width: 100%;
      max-height: 320px;
      margin-bottom: 30px;

      .card-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
        padding: 0 15px;

        p {
          padding: 0;
        }
      }

      .title {
        font-size: 30px;
      }

      img {
        justify-content: flex-start;
        width: 75%;
        object-fit: cover;
      }

      .order-btn {
        margin-top: 10px;
        margin-bottom: 5px;

        a {
          text-decoration: none;
          background-color: rgba(226, 148, 178, 0.849);
          border-radius: 50px;
          padding: 5px;

          .light-para {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// MEDIA//

@media only screen and (max-width: 1151px) {
  .services {
    .service-cards {
      .service-card-1 {
        max-width: 45%;
      }
      .service-card-2 {
        max-width: 45%;
      }
      .service-card-3 {
        max-width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 1135px) {
  .flowers {
    .flower-cards {
      .flower-card {
        height: 400px;
        max-width: 45%;

        img {
          height: 65%;
        }
      }
      .title {
        font-size: 26px;
      }
    }
  }

  .special {
    .flower-cards {
      .flower-card {
        max-height: 408px;

        .title {
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1015px) {
  .special {
    .flower-cards {
      .flower-card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-height: 600px;

        .card-info {
          text-align: left;
          padding: 0 15px;

          p {
            padding: 8px;
          }
        }

        .title {
          font-size: 20px;
        }

        img {
          width: 100%;
          height: 290px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  section {
    padding: 30px 15px;
  }

  .events {
    .event-cards {
      .event-card-1 {
        width: 45%;
      }
      .event-card-2 {
        width: 45%;
      }
      .event-card-3 {
        width: 45%;
      }
      .event-card-4 {
        width: 45%;
      }
      .event-card-5 {
        width: 45%;
      }
      .event-card-6 {
        width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  //  HEADER//
  .main-header,
  section {
    padding: 30px 20px;
  }
  .card-info {
    .title {
      font-size: 26px;
    }
  }
}

@media only screen and (max-width: 840px) {
  section {
    padding: 30px 10px;
  }

  .services {
    .service-cards {
      .service-card-1 {
        max-width: 100%;
      }
      .service-card-2 {
        max-width: 100%;
      }
      .service-card-3 {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .services {
    .service-cards {
      display: block;

      .service-card-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 20px 0 10px 0;
      }

      .service-card-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 20px 0 10px 0;
      }

      .service-card-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 20px 0 10px 0;
      }
    }
  }

  .special {
    .flower-cards {
      .flower-card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-height: 600px;

        img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}

@media only screen and (min-width: 801px) {
  //  HEADER//

  .menu-button {
    display: none;
  }
  .icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgba(245, 241, 241, 1);
    padding: 5px 20px;
    height: 30px;

    svg {
      height: 20px;
      width: 20px;
      margin: 0 10px;
      fill: rgba(226, 148, 178, 0.849);
    }
  }

  .nav-desktop {
    display: block;
    max-width: 60%;
    nav {
      display: block;
      font-size: 18px;
      color: #f7f3f0;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          text-decoration: none;
          list-style: none;
          padding: 0 5px;
          margin: 0 2px;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .events {
    .event-cards {
      .event-card-1 {
        width: 100%;
      }
      .event-card-2 {
        width: 100%;
      }
      .event-card-3 {
        width: 100%;
      }
      .event-card-4 {
        width: 100%;
      }
      .event-card-5 {
        width: 100%;
      }
      .event-card-6 {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .flowers {
    .flower-cards {
      .flower-card {
        height: 400px;
        max-width: 100%;

        img {
          height: 65%;
        }
      }
      .title {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (min-width: 630px) {
  .dark-title,
  .light-title {
    font-size: 42px;
  }
}

@media only screen and (max-width: 380px) {
  .special {
    .flower-cards {
      .flower-card {
        max-height: 800px;
        .order-btn {
          margin: 0 auto;
          margin-bottom: 5px;

          a {
            padding: 5px 60px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .dark-title,
  .light-title {
    font-size: 24px;
  }
}

// TABLET//

// @media only screen and (max-width: 800px) {
//   //HEADER//

//     .menu,
//     #menu {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     flex-wrap: wrap;
//     width: 100%;
//     background-color: #3d3c3c;
//     z-index: 10;
//     margin: 0 auto;
//     justify-content: center;

//     .header-info {
//       padding: 0;
//     }

//     .nav-mobile {
//       display: block;
//       width: 100%;
//       text-align: center;
//       font-size: 18px;

//       a {
//         text-decoration: none;
//         list-style: none;
//       }
//     }

//     .icons-mobile {
//       display: flex;
//       justify-content: center;
//       width: 100%;
//       height: 80px;

//       svg {
//         height: 30px;
//         width: 30px;
//         margin: 0 10px;
//         fill: rgba(226, 148, 178, 0.849);
//       }
//     }
//   }
